/*h1 {
  margin-left: 12%;
}*/

h2 {
  margin-top: 1rem;
  font-style: normal;
  font-size: 1.4rem;
}

h4 {
  margin: 0;
  margin-top: 1rem;
  font-style: normal;
}

.label {
  font-size: 1.5rem;
}

input[type="text"],
input[type="number"],
select {
  padding: 12px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

#formularioIndex {
  width: 30%;
  border: 4px solid black;
  margin: 2%;
  padding: 1rem;
  padding-left: 6rem;
  border-radius: 12px;
  background-color: #f2f2f2;
}

.tituloModalidad {
  margin-left: 12%;
}

#tituloForm {
  margin-left: 14%;
}

#formularioPrimeraModalidad {
  width: 30%;
  border: 4px solid black;
  margin: 2%;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 12px;
  background-color: #f2f2f2;
}

#formularioPrimeraModalidad form {
  margin-left: 20%;
}

.titulos {
  width: 100%;
  text-align: center;
}

#elNumeroEs {
  float: left;
  margin-right: 1.5rem;
}

#buttonRegistro {
  margin-left: 16%;
}

#buttonIndex {
  background-color: #4d004d;
  margin-left: 30%;
}

#numeroUsuario {
  padding: 12px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

#volverIndice {
  margin-left: 26px;
  background-color: #4d004d;
}

#confirmar {
  background-color: #260750;
}

#formularioPrimeraModalidadRespuesta {
  width: 37%;
  border: 4px solid black;
  margin: 2%;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 12px;
  background-color: #f2f2f2;
  font-size: 1.2rem;
}

#volverInicio {
  background-color: #4d004d;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#numeroIgual {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

#numeroIgual:hover {
  background-color: #4caf50;
  color: white;
}

#numeroMasPequeño {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

#numeroMasPequeño:hover {
  background-color: #008cba;
  color: white;
}

#numeroMasGrande {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

#numeroMasGrande:hover {
  background-color: #f44336;
  color: white;
}

#buttonConfirm {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

#buttonConfirm:hover {
  background-color: #555555;
  color: white;
}

#formularioSegundaModalidad {
  width: 30%;
  border: 4px solid black;
  margin: 2%;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 12px;
  background-color: #f2f2f2;
  font-size: 1.5rem;
}

#botonConfirmar {
  background-color: #6a0020;
}

#volverAJugar {
  background-color: #4d004d;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 75%;
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid black;
  padding: 5px;
}

th {
  text-align: left;
}

.celdas{
  width:150px;
  /*border:1px solid blue;*/
  background:silver;
}

.celda-boton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border:1px solid #d6bcd6;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.celda-boton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.celda-boton:active {
	position:relative;
	top:1px;
}

